# Built application files:
*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
*.apk

# IDEA User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# IDEA Gradle:
.idea/gradle.xml
.idea/libraries

# Keystore and config:
keystore.jks
release.properties
